.medium-card {
  max-width: 350px;
  min-width: 200px;
}

.large-card {
  max-width: 400px;
  min-width: 200px;
}

.extra-large-card {
  max-width: 450px;
  min-width: 200px;
}

.base-card {
  margin: auto;
  padding: 16px;
}

p {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface-variant);
  margin: 0;
}

h3 {
  font: var(--mat-sys-title-small);
  color: var(--mat-sys-on-surface);
  margin: 0;
}

h1 {
  font: var(--mat-sys-title-large);
  color: var(--mat-sys-on-surface);
  margin: 0;
}

.text-frame {
  width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: start;
}

.text-center {
  align-items: center;
}

.text-frame h1 {
  font: var(--mat-sys-title-large);
  color: var(--mat-sys-on-surface);
  margin: 0;
}

.text-frame p {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface-variant);
  margin: 0;
}

.header-with-actions {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-with-actions button {
  justify-self: end;
}

.header-with-actions h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.header-with-actions button {
  margin-left: auto;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info-list > mat-list-item {
  padding-left: 0;
  padding-right: 0;
  gap: 16px;
}

.card-group {
  display: flex;

  max-width: calc(2 * 350px);
  min-width: calc(2 * 150px);

  flex-direction: column;
  padding: 16px;
  gap: 24px;

  border-radius: var(--mat-sys-corner-extra-large);
  background-color: var(--mat-sys-surface-container-high);
}

.card-flex-box {
  display: flex;
  max-width: calc(2 * 350px);
  min-width: calc(2 * 150px);

  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  gap: 16px;
}