<mat-card class="grid-card">
  <mat-card-content>

    <mat-grid-list cols="3" rowHeight="32px" gutterSize="16px">
      <!-- Empty space for labels -->
      <mat-grid-tile></mat-grid-tile>

      <!-- Column Headers -->
      <mat-grid-tile><h3>Document A</h3></mat-grid-tile>
      <mat-grid-tile><h3>Document B</h3></mat-grid-tile>

      <!-- Row 1 -->
      <mat-grid-tile><h3>Date Creation</h3></mat-grid-tile>
      <mat-grid-tile><p>2024-01-01</p></mat-grid-tile>
      <mat-grid-tile><p>2024-02-10</p></mat-grid-tile>

      <!-- Row 2 -->
      <mat-grid-tile><h3>Date Modification</h3></mat-grid-tile>
      <mat-grid-tile><p>2024-01-15</p></mat-grid-tile>
      <mat-grid-tile><p>2024-02-20</p></mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
</mat-card>
