.mat-column-filename {
  max-width: 8rem;
}

.mat-column-maxSimilarity {
  max-width: 5rem;
}

td.mat-column-maxSimilarity {
  text-align: right;
}

td.mat-column-moreButton {
  text-align: center
}

