<div class="table-container">

  <mat-form-field class="search-bar"
                  *ngIf="this.enableSearch">
    <mat-label>Hľadať</mat-label>
    <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter($event)"/>
  </mat-form-field>

  <div class="table-responsive height-50">
    <table mat-table
           [dataSource]="submissionsDataSource"
           matSort (matSortChange)="onSorting($event)"
           class="mat-elevation-z8">

      <ng-container matColumnDef="submitter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="submitter">
          Odovzdávateľ
        </th>
        <td mat-cell *matCellDef="let element">

          <div class="scrollable-text">
            {{ element.fileData.submitter }}
          </div>

        </td>
      </ng-container>

      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="filename">
          Názov súboru
        </th>
        <td mat-cell *matCellDef="let element">

          <div class="scrollable-text">
            {{ element.fileData.filename }}
          </div>

        </td>
      </ng-container>

      <ng-container matColumnDef="totalEditTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="totalEditTime">
          Čas úpravy
        </th>
        <td mat-cell *matCellDef="let element"
            appMetadataDeviationHighlight
            [checkTimeDeviation]="true"
            [submission]="element">
          {{ element.fileData.metadata.totalEditTime | minutesTime }}
        </td>
      </ng-container>

      <ng-container matColumnDef="maxSimilarity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="maxSimilarity">
          Maximálna podobnosť %
        </th>
        <td mat-cell
            *matCellDef="let element"> {{ getPlagScore(element.maxSimilarity) | number:'1.1-1' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="moreButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="this.loadSubmission(element)">Viac</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <mat-paginator
    [length]="this.submissionsDataSource.data.length"
    [pageSize]="this.pageSize"
    [pageSizeOptions]="this.pageSizeOptions"
    *ngIf="this.enablePagination">
  </mat-paginator>

</div>
