<div class="table-container">

  <div class="table-search-row" *ngIf="this.enableSearch">
    <mat-form-field class="search-bar">
      <mat-label>Hľadať</mat-label>
      <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter($event)"/>
    </mat-form-field>

  </div>
  <div class="table-responsive height-65">
    <table mat-table
           [dataSource]="submissionsDataSource"
           matSort (matSortChange)="onSorting($event)"
           class="mat-elevation-z8">

      <ng-container matColumnDef="submitter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="submitter">
          Odovzdávateľ
        </th>
        <td mat-cell *matCellDef="let element">

          <div appTextOverflowScroll class="scrollable-text">
            {{ element.fileData.submitter }}
          </div>

        </td>
      </ng-container>

      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="filename">
          Názov súboru
        </th>
        <td mat-cell *matCellDef="let element">

          <div appTextOverflowScroll class="scrollable-text">
            {{ element.fileData.filename }}
          </div>

        </td>
      </ng-container>

      <ng-container  matColumnDef="totalEditTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="totalEditTime">
          Čas úpravy
        </th>
        <td mat-cell *matCellDef="let element"
            appMetadataDeviationHighlight
            [checkTimeDeviation]="true"
            [submission]="element">
          {{ element.fileData.metadata.totalEditTime | minutesTime }}
        </td>
      </ng-container>

<!--      <ng-container matColumnDef="meta-match">-->
<!--        <th mat-header-cell *matHeaderCellDef-->
<!--            mat-sort-header="meta-match">-->
<!--          Zhoda metaúdajov-->
<!--        </th>-->
<!--        <td mat-cell *matCellDef="let element">-->
<!--          {{ isMetadataMatched(element) ? 'Prítomná' : 'Nenájdená' }}-->
<!--        </td>-->
<!--      </ng-container>-->

      <ng-container matColumnDef="meta-match">

        <th mat-header-cell *matHeaderCellDef mat-sort-header="meta-match">
          Zhoda metaúdajov
        </th>
        <td mat-cell *matCellDef="let element">
          {{ isMetadataMatched(element) ? 'Prítomná' : 'Nenájdená' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="maxSimilarity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="maxSimilarity">
          Maximálna podobnosť %
        </th>
        <td mat-cell
            *matCellDef="let element"> {{ getPlagScore(element.maxSimilarity) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="moreButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="this.loadSubmission(element)">Viac</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <mat-paginator
    [length]="this.submissionsDataSource.data.length"
    [pageSize]="this.pageSize"
    [pageSizeOptions]="this.pageSizeOptions"
    *ngIf="this.enablePagination">
  </mat-paginator>

</div>
