.mat-column-filename,
.mat-column-submitter {
  box-sizing: content-box;
  /*width: 50px;*/
  width: 25%;
}

.mat-column-totalEditTime,
.mat-column-maxSimilarity {
  width: 20%;
}

td.mat-column-maxSimilarity {
  text-align: end;
}

.mat-column-moreButton {
  width: 10%;
}

td.mat-column-moreButton {
  text-align: center;
}

th[mat-sort-header="maxSimilarity"] .mat-sort-header-container {
  justify-content: flex-end;
}
