.mat-column-filename,
.mat-column-submitter {
  box-sizing: content-box;
  /*width: 50px;*/
  min-width: 25%;
}

.mat-column-totalEditTime {
  min-width: 10%;
}

.mat-column-maxSimilarity {
  min-width: 15%;
}

.mat-column-moreButton {
  min-width: 10%;
}

.mat-column-meta-match {
  min-width: 10%;
}

td.mat-column-maxSimilarity {
  text-align: end;
}

td.mat-column-moreButton {
  text-align: center;
}

th[mat-sort-header="maxSimilarity"] .mat-sort-header-container {
  justify-content: flex-end;
}

