<app-titled-surface title="" subtitle="" [isTitleCentered]="true" [isHorizontal]="true">
  <div class="table-container">
    <table mat-table
           [dataSource]="submissionsSource!"
           matSort (matSortChange)="onSorting($event)"
           class="mat-elevation-z8">

      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef>
          Názov súboru
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.filename }}
        </td>
      </ng-container>
      <ng-container matColumnDef="submitter">
        <th mat-header-cell *matHeaderCellDef>
          Odosielateľ
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.submitter }}
        </td>
      </ng-container>
      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef>
          Autor
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.metadata.creator ? element.metadata.creator : 'Neznáme' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="lastModifiedBy">
        <th mat-header-cell *matHeaderCellDef>
          Naposledy upravil
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.metadata.modifier ? element.metadata.modifier : 'Neznáme' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="totalEditTime">
        <th mat-header-cell *matHeaderCellDef>
          Celkový čas úprav (MIN)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.metadata.totalEditTime }}
        </td>
      </ng-container>
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef>
          Dátum vytvorenia
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.metadata.creationDate ? mapUnixTimeToDate(element.metadata.creationDate) : 'Neznáme' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="dateModified">
        <th mat-header-cell *matHeaderCellDef>
          Dátum úpravy
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.metadata.modificationDate ? mapUnixTimeToDate(element.metadata.modificationDate) : 'Neznáme' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="pairsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: pairsDisplayedColumns;"></tr>
    </table>
  </div>
</app-titled-surface>
