<div class="info-card">
  <div class="header">
    <div class="text-frame">
      <h1 appTextOverflowScroll class="scrollable-text"
          aria-label="Názov analýzy">{{ analysis()?.name }}</h1>
      <p>Informácie o analýze</p>
    </div>
    <div style="display: flex">
      <mat-icon [matTooltip]="supportiveText" aria-label="Viac informacií">info_outlined</mat-icon>
    </div>
  </div>
  <mat-list class="info-groups">
    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>
        <mat-icon matTooltipPosition="right"
                  matTooltip="Názov analyzovaného súboru"
                  aria-label="Názov analyzovaného súboru"
                  svgIcon="file-search-outline"
                  matListItemIcon></mat-icon>
        <p appTextOverflowScroll class="scrollable-text"
           matListItemTitle>{{ analysis()?.analyzedFileName }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matTooltipPosition="right"
                  matTooltip="Dátum vykonania analýzy"
                  aria-label="Dátum vykonania analýzy"
                  matListItemIcon>
          date_range
        </mat-icon>
        <p matListItemTitle>{{ analysis()?.dateAnalyzed | date }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matTooltipPosition="right"
                  matTooltip="Počet načítaných porovnaní"
                  aria-label="Počet načítaných porovnaní"
                  svgIcon="compare-horizontal"
                  matListItemIcon></mat-icon>
        <p matListItemTitle>{{ comparisonsCount() | number }}</p>
      </mat-list-item>

    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>
        <div class="item-with-chip">
          <mat-chip matTooltipPosition="right"
                    matTooltip="Počet súborov formatu docx"
                    aria-label="Počet súborov formatu docx">
            DOCX
          </mat-chip>
          <p>{{ extensionToCount().get('docx') || 0 }} súborov</p>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item-with-chip" matListItemTitle>
          <mat-chip matTooltipPosition="right"
                    matTooltip="Počet súborov formatu doc"
                    aria-label="Počet súborov formatu doc">
            DOC
          </mat-chip>
          <p>{{ extensionToCount().get('doc') || 0 }} súborov</p>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item-with-chip" matListItemTitle>
          <mat-chip matTooltipPosition="right"
                    matTooltip="Počet súborov formatu pdf"
                    aria-label="Počet súborov formatu pdf">
            PDF
          </mat-chip>
          <p>{{ extensionToCount().get('pdf') || 0 }} súborov</p>
        </div>
      </mat-list-item>
    </mat-list>

  </mat-list>
</div>
