.mat-column-similarity {
  width: 20%;
}

.mat-column-firstDocumentName,
.mat-column-secondDocumentName {
  box-sizing: content-box;
  width: 30%;
}

.mat-column-secondDocumentName .scrollable-text {
  max-width: 80%;
}

.mat-column-moreButton {
  text-align: center;
}

th[mat-sort-header="similarity"] .mat-sort-header-container {
  justify-content: flex-end;
}

td.mat-column-similarity {
  text-align: end;
}

