<div class="table-container"
     [class.height-50]="isHalfPage"
     [class.width-55]="isHalfPage">

  <div class="table-search-row">
    <mat-form-field class="search-bar">
      <mat-label>Hľadať</mat-label>
      <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter($event)"/>
    </mat-form-field>
  </div>
  <div class="table-responsive height-65">
    <table [dataSource]="pairsDataSource!"
           (matSortChange)="onSorting($event)"
           mat-table
           matSort
           class="mat-elevation-z20">

      <ng-container matColumnDef="firstDocumentName">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header="first">
          Odosielateľ dokumentu
        </th>
        <td mat-cell *matCellDef="let element">
          <div appTextOverflowScroll class="scrollable-text">
            {{ this.getSubmissionById(element.firstId).fileData.submitter }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="secondDocumentName">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header="second">
          Odosielateľ dokumentu
        </th>
        <td mat-cell *matCellDef="let element">

          <div appTextOverflowScroll class="scrollable-text">
            {{ this.getSubmissionById(element.secondId).fileData.submitter }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="meta-match">

        <th mat-header-cell *matHeaderCellDef
            mat-sort-header="meta-match">
          Zhoda metaúdajov
        </th>
        <td mat-cell *matCellDef="let element">
          {{ isMetadataMatched(element) ? 'Prítomná' : 'Nenájdená' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="jaccard-sim">

        <th mat-header-cell *matHeaderCellDef
            mat-sort-header="jaccard-sim">
          Jaccardov koeficient (slovné n-gramy)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getScoreByType(element, 'JACCARD') }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sem-sim">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header="sem-sim">
          Semantická podobnosť
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getScoreByType(element, 'SEMANTIC') }}
        </td>
      </ng-container>

      <ng-container matColumnDef="moreButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button
                  (click)="onLoadPair(element)">
            Načitať
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="pairsDisplayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: pairsDisplayedColumns;"></tr>

    </table>

  </div>

  <mat-paginator [length]="this.pairsDataSource.data.length"
                 [pageSize]="20"
                 [pageSizeOptions]="[10, 20, 30, 40]">
  </mat-paginator>
</div>
