/*.mat-column-sem-sim {*/
/*  width: 15%;*/
/*}*/

.mat-column-meta-match {
  min-width: 10%;
  width: 10%;
}

.mat-column-firstDocumentName,
.mat-column-secondDocumentName {
  box-sizing: content-box;
  min-width: 25%;
  width: 25%;
}

.mat-column-moreButton {
  text-align: center;
  width: 8%;
  min-width: 8%;
}

.mat-column-jaccard-sim,
.mat-column-sem-sim {
  min-width: 8%;
}

th[mat-sort-header="sem-sim"] .mat-sort-header-container {
  justify-content: flex-end;
}

th[mat-sort-header="jaccard-sim"] .mat-sort-header-container {
  justify-content: flex-end;
}

td.mat-column-jaccard-sim,
td.mat-column-sem-sim {
  text-align: end;
}

