.mat-column-similarity {
  width: 10%;
}

.mat-column-similarity {
  text-align: end;
}

.mat-column-firstDocumentName,
.mat-column-secondDocumentName {
  box-sizing: content-box;
  width: 30%;
}

.mat-column-secondDocumentName .scrollable-text {
  max-width: 80%;
}

.mat-column-moreButton {
  text-align: center;
}