<app-content-container>

  <app-surface title="Odovzdania"
               subtitle=""
               [isTitleCentered]="true"
               [isContentCentered]="true">
    <app-submissions-table [limit]="null"
                           [submissionsFilterSet]="filterSet()"
                           [enablePagination]="true"
                           [pageSize]="10"
                           [pageSizeOptions]="[10, 20, 30]"
                           [enableSearch]="true"/>
  </app-surface>

</app-content-container>
