@use "@angular/material" as mat;

.editor-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  gap: 1rem;
}

app-text-editor {
  width: 100%;
  height: 100%;
}

.stat-flex-column {
  height: min-content;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  padding: 16px;
  gap: 16px;
}

.options-menu {
  display: flex;
  flex-direction: row !important;
  gap: 16px;
}