@use "@angular/material" as mat;

.editor-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  gap: 1rem;
}

app-text-editor {
  width: 100%;
  height: 100%;
}

.stat-flex-column {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
  gap: 16px;
  /*max-width: min-content;*/
}

.floating-toolbar {
  position: fixed;

  bottom: 20px;

  left: 50%;

  transform: translateX(-50%);

  background: white;

  padding: 10px 20px;

  border-radius: var(--mat-sys-corner-small);
  z-index: 1000;

  @include mat.elevation(8);
}
