<app-content-container *ngIf="this.submissionPair() === null">
  <app-surface title="Načitanie dvojice" subtitle="">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </app-surface>
</app-content-container>

<app-content-container *ngIf="this.submissionPair() !== null">
  <app-surface title="Vysledky"
               subtitle=""
               [isTitleCentered]="true"
               [wrapBreakpoint]="1300"
               [isContentCentered]="false"
               [isHorizontal]="true">
    <app-metadata-diff-card [first]="this.first()!"
                            [second]="this.second()!"
                            [submissionPair]="this.submissionPair()!">

    </app-metadata-diff-card>

    <div class="stat-flex-column">

      <app-stat-card name="Jaccardov koeficient (bi-gramy)"
                     [value]="this.getFormattedScore('JACCARD')">
      </app-stat-card>

      <app-stat-card name="Podobnosť autorov (metaúdaje)"
                     [value]="this.getFormattedScore('META')">
      </app-stat-card>

      <app-stat-card name="Semantická podobnosť"
                     [value]="this.getFormattedScore('SEMANTIC')">
      </app-stat-card>

    </div>
  </app-surface>

  <app-surface title="Porovnanie obsahu"
               subtitle=""
               [isContentCentered]="false"
               [isTitleCentered]="true">


    <div class="editor-container">
      <app-text-editor #firstEditor
                       [submission]="this.first()!"
                       [plagCases]="this.plagCases()!"
                       [markingSide]="0"
                       (offsetClickEventEmitter)="plagCaseEditorCardComponent.updateFocusedField($event)"
      ></app-text-editor>

      <app-text-editor #secondEditor
                       [submission]="this.second()!"
                       [plagCases]="this.plagCases()!"
                       (offsetClickEventEmitter)="plagCaseEditorCardComponent.updateFocusedField($event)"
                       [markingSide]="1"/>
    </div>
  </app-surface>

  <app-floating-toolbar>
    <div style="display: flex; flex-direction: column; gap: 16px">

      <div style="display: flex; flex-direction: row; justify-content: center">
        <mat-chip-listbox>
          <mat-chip-option selected (click)="toggleScrollSync()">Posúvať súčasne</mat-chip-option>
        </mat-chip-listbox>
      </div>
      <app-plag-case-editor-card #plagCaseEditorCardComponent
                                 (firstEditorSelectionEventEmitter)="firstEditor.addPlagCaseDecoration($event)"
                                 (secondEditorSelectionEventEmitter)="secondEditor.addPlagCaseDecoration($event)"
                                 (firstEditorRemoveSelectionEvent)="firstEditor.removePlagCaseDecoration($event)"
                                 (secondEditorRemoveSelectionEvent)="secondEditor.removePlagCaseDecoration($event)"
                                 (exportEventEmitter)="onExport($event)"

      ></app-plag-case-editor-card>
    </div>
    <!--    <button mat-raised-button-->
    <!--            (click)="loadDiffPage()"-->
    <!--    >-->
    <!--      Zobraziť rozdiel-->
    <!--    </button>-->
  </app-floating-toolbar>
</app-content-container>
