<app-content-container>

  <app-surface title="Comparison"
               subtitle=""
               [isContentCentered]="false"
               [isTitleCentered]="true">

    <div class="editor-container">
      <app-text-editor [submission]="this.first"
                       [plagCases]="this.plagCases"
                       [markingSide]="0"
      ></app-text-editor>
      <app-text-editor [submission]="this.second"
                       [plagCases]="this.plagCases"
                       [markingSide]="1"
      ></app-text-editor>

    </div>

  </app-surface>

</app-content-container>
