<app-content-container *ngIf="this.submissionPair() === null">
  <app-surface title="Načitanie dvojice" subtitle="">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </app-surface>
</app-content-container>

<app-content-container *ngIf="this.submissionPair() !== null">
  <app-surface title="Vysledky"
               subtitle=""
               [isTitleCentered]="true"
               [wrapBreakpoint]="1300"
               [isContentCentered]="false"
               [isHorizontal]="true">
    <div class="horizontal-card-group-wrapper">
      <div class="header-with-actions">
        <button mat-icon-button (click)="onExport()">
            <mat-icon>download</mat-icon>
        </button>
      </div>
      <div class="horizontal-card-group">

        <app-metadata-diff-card [first]="this.first()!"
                                [second]="this.second()!"
                                [submissionPair]="this.submissionPair()!">

        </app-metadata-diff-card>

        <div class="stat-flex-column">

          <app-stat-card name="Jaccardov koeficient (bi-gramy)"
                         [value]="this.getFormattedScore('JACCARD')">
          </app-stat-card>

          <app-stat-card name="Podobnosť autorov (metaúdaje)"
                         [value]="this.getFormattedScore('META')">
          </app-stat-card>

          <app-stat-card name="Semantická podobnosť"
                         [value]="this.getFormattedScore('SEMANTIC')">
          </app-stat-card>

        </div>
      </div>
    </div>
  </app-surface>

  <app-surface title="Porovnanie obsahu"
               [subtitle]="this.submissionPair()!.plagCases.length > 0 ? '' :
                'Pre túto dvojicu <strong>neboli vypočítané podobné fragmenty</strong>, dané dva dokumenty sú buď veľmi odlišné, alebo veľmi podobné. ' +
                'Ak chcete vidieť rozdiely medzi dokumentmi, môžete prejsť na záložku <strong>Rozdiel obsahu</strong> kliknutím na tlačidlo v dolnom paneli'"
               [isContentCentered]="false"
               [isTitleCentered]="false">


    <div class="editor-container">
      <app-text-editor #firstEditor
                       [submission]="this.first()!"
                       [plagCases]="this.plagCases()!"
                       [markingSide]="0"
                       (forceUnsubscribeFromScrollEventEmitter)="this.isScrollSyncEnabled.set(false)"
      />

      <app-text-editor #secondEditor
                       [submission]="this.second()!"
                       [plagCases]="this.plagCases()!"
                       (forceUnsubscribeFromScrollEventEmitter)="this.isScrollSyncEnabled.set(false)"
                       [markingSide]="1"
      />
    </div>
  </app-surface>

  <app-floating-toolbar [isHorizontal]="true">
    <mat-chip-listbox multiple>
      <div class="options-menu">

        <mat-chip-option [selected]="this.isScrollSyncEnabled()"
                         (click)="toggleScrollSync()">
          Posúvať súčasne
        </mat-chip-option>
        <mat-chip-option [selected]="this.isMarkingNavigationEnabled()"
                         (click)="toggleMarkingNavigation()">
          Povoliť navigáciu
        </mat-chip-option>
      </div>
    </mat-chip-listbox>
    <button mat-raised-button
            (click)="loadDiffPage()"
    >
      Zobraziť rozdiel
    </button>
  </app-floating-toolbar>
</app-content-container>
