<div *ngIf="this.loading" class="frame">
  <app-surface title="Loading analysis" subtitle="" [isTitleCentered]="true"
                      [isHorizontal]="true">
    <mat-progress-bar class="full-width" mode="indeterminate"/>
  </app-surface>
</div>
<div *ngIf="!this.loading" class="frame">
  <app-surface title="" subtitle="" [isTitleCentered]="true" [isHorizontal]="true">
    <app-analysis-info-card/>

  </app-surface>

  <app-surface title="Odovzdania"
                      subtitle="Tabuľka obsahuje top 10 prác s najväčšou podobnosťou"
                      [isContentCentered]="false">

    <app-submissions-table/>
    <button style="align-self: end" mat-flat-button (click)="this.navigateSubmissionsPage()">Ostatné odovzdania</button>
  </app-surface>


</div>
