<mat-card class="grid-card">
  <mat-card-content>

    <mat-grid-list cols="3" rowHeight="32px" gutterSize="16px">
      <!-- Empty space for labels -->
      <mat-grid-tile></mat-grid-tile>

      <!-- Column Headers -->
      <mat-grid-tile class="header"><h3>Dokument A</h3></mat-grid-tile>
      <mat-grid-tile class="header"><h3>Dokument B</h3></mat-grid-tile>

      <!-- Submitter -->
      <mat-grid-tile class="label"><h3>Odosielateľ</h3></mat-grid-tile>

      <mat-grid-tile appMetadataEqualityHighlight
                     [first]="first"
                     [second]="second"
                     metadataField="submitter">
        <p appTextOverflowScroll class="scrollable-text">{{ first.fileData.submitter || 'Neznámy' }}</p></mat-grid-tile>

      <mat-grid-tile appMetadataEqualityHighlight
                     [first]="first"
                     [second]="second"
                     metadataField="submitter">
        <p appTextOverflowScroll class="scrollable-text">{{ second.fileData.submitter || 'Neznámy' }}</p></mat-grid-tile>

      <!-- Last Modified By -->
      <mat-grid-tile class="label"><h3>Naposledy upravil</h3></mat-grid-tile>
      <mat-grid-tile appMetadataEqualityHighlight
                     [first]="first"
                     [second]="second"
                     metadataField="modifier">
        <p appTextOverflowScroll class="scrollable-text">{{ first.fileData.metadata.modifier || 'Neznámy' }}</p></mat-grid-tile>

      <mat-grid-tile appMetadataEqualityHighlight
                     [first]="first"
                     [second]="second"
                     metadataField="modifier">
        <p appTextOverflowScroll class="scrollable-text">{{ second.fileData.metadata.modifier || 'Neznámy' }}</p></mat-grid-tile>

      <!-- Creator -->
      <mat-grid-tile class="label"><h3>Autor</h3></mat-grid-tile>
      <mat-grid-tile appMetadataEqualityHighlight
                     [first]="first"
                     [second]="second"
                     metadataField="creator">
        <p appTextOverflowScroll class="scrollable-text">{{ first.fileData.metadata.creator || 'Neznámy' }}</p></mat-grid-tile>
      <mat-grid-tile appMetadataEqualityHighlight
                     [first]="first"
                     [second]="second"
                     metadataField="creator">
        <p appTextOverflowScroll class="scrollable-text">{{ second.fileData.metadata.creator || 'Neznámy' }}</p></mat-grid-tile>

      <!-- Date Created -->
      <mat-grid-tile class="label"><h3>Dátum vytvorenia</h3></mat-grid-tile>
      <mat-grid-tile appMetadataDeviationHighlight
                     [submission]="first"
                     dateField="creationDate">
        <p>{{ first.fileData.metadata.creationDate ? (first.fileData.metadata.creationDate | unixDate) : 'Neznáme' }}</p>
      </mat-grid-tile>
      <mat-grid-tile appMetadataDeviationHighlight
                     [submission]="second"
                     dateField="creationDate">
        <p>{{ second.fileData.metadata.creationDate ? (second.fileData.metadata.creationDate | unixDate) : 'Neznáme' }}</p>
      </mat-grid-tile>

      <!-- Date Modified -->
      <mat-grid-tile class="label"><h3>Dátum úpravy</h3></mat-grid-tile>
      <mat-grid-tile appMetadataDeviationHighlight
                     [submission]="first"
                     dateField="modificationDate">
        <p >{{ first.fileData.metadata.modificationDate ? (first.fileData.metadata.modificationDate | unixDate) : 'Neznáme' }}</p>
      </mat-grid-tile>
      <mat-grid-tile appMetadataDeviationHighlight
                     [submission]="second"
                     dateField="modificationDate">
        <p>{{ second.fileData.metadata.modificationDate ? (second.fileData.metadata.modificationDate | unixDate) : 'Neznáme' }}</p>
      </mat-grid-tile>

      <!-- Last Printed -->
      <mat-grid-tile class="label"><h3>Naposledy vytlačené</h3></mat-grid-tile>
      <mat-grid-tile>
        <p>{{ first.fileData.metadata.lastPrinted ? (first.fileData.metadata.lastPrinted | unixDate) : 'Neznáme' }}</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p>{{ second.fileData.metadata.lastPrinted ? (second.fileData.metadata.lastPrinted | unixDate) : 'Neznáme' }}</p>
      </mat-grid-tile>

      <!-- Total Edit Time -->
      <mat-grid-tile class="label"><h3>Celkový čas úprav</h3></mat-grid-tile>
      <mat-grid-tile appMetadataDeviationHighlight
                     [submission]="first"
                     [checkTimeDeviation]="true">
        <p>{{ first.fileData.metadata.totalEditTime! | minutesTime }}</p>
      </mat-grid-tile>
      <mat-grid-tile appMetadataDeviationHighlight
                     [submission]="second"
                     [checkTimeDeviation]="true">
        <p>{{ second.fileData.metadata.totalEditTime! | minutesTime }}</p>
      </mat-grid-tile>

      <!-- Revisions Count -->
      <mat-grid-tile class="label"><h3>Počet revízií</h3></mat-grid-tile>
      <mat-grid-tile><p>{{ first.fileData.metadata.revisionsNumber || 'Neznáme' }}</p></mat-grid-tile>
      <mat-grid-tile><p>{{ second.fileData.metadata.revisionsNumber || 'Neznáme' }}</p></mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-footer *ngIf="submissionPair.plagSource !== 'UNCERTAIN'">
    <p>
      Zdrojom plagiatu v tejto dvojici {{isSourceIndexed() ? "" :  "pravdepodobne" }} bol {{getSource().fileData.submitter}}
    </p>
  </mat-card-footer>
</mat-card>
