<mat-card class="comparison-fast-nav large-card-card base-card">
  <div class="text-frame">
    <h1>{{ displayedSubmitter() ?? 'Nenájdený'}}</h1>
    @switch (similarityType) {
      @case ('META') {
        <p>{{ 'Zadanie s rovnakým autorstvom podľa metaúdajov' }}</p>
      }
      @case ('SEMANTIC') {
        <p>{{ 'Najväčšia podobnosť zistená pomocou sémantického porovnania' }}</p>
      }
      @case ('JACCARD') {
        <p>{{ 'Najvyššia podobnosť zistená Jaccardovým koeficientom' }}</p>
      }
    }
  </div>

  @if (similarityType === 'META') {
    <h1>{{hasMetaScore() ? 'Prítomná' : 'Nenájdená'}}</h1>
  } @else {
    <h1 style="text-wrap: nowrap;">{{getFormattedScore()}}</h1>
  }

  <button mat-button>
    Načitať
  </button>
</mat-card>
