<div class="base">
  <div class="cases-control">
    <div class="header">
      <button mat-button (click)="onExport()">
        Export
      </button>
    </div>
    <div class="cases-listing">
      @for (plagCase of plagCases(); track this.plagCaseId(plagCase)) {
        <app-plag-case-item [plagCaseMarking]="plagCase"
                            (deleteEventEmitter)="onPlagCaseDelete($event)"
                            (editEventEmitter)="onPlagCaseEdit($event)">

        </app-plag-case-item>
      }

    </div>
    <div class="footer">
      <button mat-stroked-button (click)="addPlagCase()">Add more</button>
    </div>
  </div>
  <div class="case-editor">
    @if (this.selectedPlagCase()) {
      <div class="input-row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>First Start</mat-label>
          <input matInput type="number" [(ngModel)]="selectedPlagCase()!.first.start"
                 placeholder="0"/>
        </mat-form-field>
        <div><h3>Starts</h3></div>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Second Start</mat-label>
          <input matInput type="number" [(ngModel)]="selectedPlagCase()!.second!.start"
                 placeholder="0"/>
        </mat-form-field>
      </div>

      <div class="input-row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>First End</mat-label>
          <input matInput type="number" [(ngModel)]="selectedPlagCase()!.first.end" placeholder="0"/>
        </mat-form-field>
        <div><h3>Ends</h3></div>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Second End</mat-label>
          <input matInput type="number" [(ngModel)]="selectedPlagCase()!.second!.end"
                 placeholder="0"/>
        </mat-form-field>
      </div>

    } @else {
      <p>Selected plagiarism case will be displayed here</p>
    }
  </div>
</div>