<app-content-container>
  <!--  <app-surface>-->
  <!--    <div style="display: flex; flex-direction: column; align-items: center">-->
  <!--      <button mat-icon-button (click)="this.updatePosition(0, 1)">-->
  <!--        <mat-icon>arrow_upward</mat-icon>-->
  <!--      </button>-->
  <!--      <div-->
  <!--        style="gap: 32px; display: flex; flex-direction: row; justify-content: space-between; align-items: center">-->
  <!--        <button mat-icon-button (click)="this.updatePosition(-1, 0)">-->
  <!--          <mat-icon>arrow_back</mat-icon>-->
  <!--        </button>-->
  <!--        <button mat-icon-button (click)="this.updatePosition(1, 0)">-->
  <!--          <mat-icon>arrow_forward</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--      <button mat-icon-button (click)="this.updatePosition(0, -1)">-->
  <!--        <mat-icon>arrow_downward</mat-icon>-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </app-surface>-->
  <app-surface title="Teplotná mapa podobnosti"
               subtitle=""
               [isTitleCentered]="true"
               [isContentCentered]="true">

    <app-similarity-heatmap [pairsMapSource]="pairsMapSource()"
                            [submissionsMapSource]="submissionsMapSource()"></app-similarity-heatmap>


  </app-surface>

  <app-floating-toolbar>
    <mat-form-field appearance="outline">
      <mat-label>Mieru podobnosti</mat-label>
      <mat-select #select [value]="this.similarityHeatmapService.getDisplayScoreType()"
                  (selectionChange)="this.changeScoreType(select.value)">
        <mat-option value="META">
          Podobnosť autorov (metaúdaje)
        </mat-option>
        <mat-option value="JACCARD">
          Jaccardov koeficient (bi-gramy)
        </mat-option>
        <mat-option value="SEMANTIC">
          Semantická podobnosť
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button
            (click)="this.export()"
            style="max-width: 250px;">
      <mat-icon>download</mat-icon>
      <p>
        Stiahnuť ako csv
      </p>
    </button>
  </app-floating-toolbar>
</app-content-container>
