<app-content-container>

  <app-surface title="Teplotná mapa podobnosti"
               subtitle=""
               [isTitleCentered]="true"
               [isContentCentered]="true">

    <app-similarity-heatmap [pairsMapSource]="pairsMapSource"
                            [submissionsMapSource]="submissionsMapSource"></app-similarity-heatmap>


  </app-surface>

  <app-floating-toolbar>
    <mat-form-field appearance="outline">
      <mat-label>Mieru podobnosti</mat-label>
      <mat-select #select [value]="this.similarityHeatmapService.getDisplayScoreType()"
                  (selectionChange)="this.changeScoreType(select.value)">
        <mat-option value="META">
          Podobnosť autorov (metaúdaje)
        </mat-option>
        <mat-option value="JACCARD">
          Jaccardov koeficient (bi-gramy)
        </mat-option>
        <mat-option value="SEMANTIC">
          Semantická podobnosť
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button
            (click)="this.export()"
            style="max-width: 250px;">
      <mat-icon>download</mat-icon>
      <p>
        Stiahnuť ako csv
      </p>
    </button>
  </app-floating-toolbar>
</app-content-container>
