<app-content-container>
  <app-surface>
    <div style="display: flex; flex-direction: column; align-items: center">
      <button mat-icon-button (click)="this.updatePosition(0, 1)">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <div
        style="gap: 32px; display: flex; flex-direction: row; justify-content: space-between; align-items: center">
        <button mat-icon-button (click)="this.updatePosition(-1, 0)">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button (click)="this.updatePosition(1, 0)">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <button mat-icon-button (click)="this.updatePosition(0, -1)">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
  </app-surface>
  <app-surface title="Teplotná mapa podobnosti"
               subtitle=""
               [isTitleCentered]="true"
               [isContentCentered]="true">
    <div class="container-vertical">

      <div class="horizontal-slider-wrapper">
        <mat-slider
          [min]="0"
          [max]="this.similarityHeatmapService.getMaxPosition()"
          [step]="1"
          [discrete]="false"
          [showTickMarks]="true"
          class="horizontal-slider"
        >
          <input matSliderThumb (change)="this.updateSeries()" [(ngModel)]="this.x" #slider>
        </mat-slider>

      </div>
      <div class="container-horizontal">
        <apx-chart class="chart"
                   [series]="chartOptions.series!"
                   [chart]="chartOptions.chart!"
                   [dataLabels]="chartOptions.dataLabels!"
                   [plotOptions]="chartOptions.plotOptions!"
                   [title]="chartOptions.title!"
        ></apx-chart>
        <div class="vertical-slider-wrapper">
          <mat-slider
            [min]="0"
            [max]="this.similarityHeatmapService.getMaxPosition()"
            [step]="1"
            [discrete]="false"
            [showTickMarks]="true"
            class="vertical-slider">
            <input matSliderThumb (change)="this.updateSeries()" [(ngModel)]="this.y" #slider>
          </mat-slider>
        </div>
      </div>

    </div>
  </app-surface>
</app-content-container>
