.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;

  flex-direction: column;
}

main {
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

.sidenav-colored {
  position: fixed;
  height: 100%;
  padding: 64px 0.25rem 0.25rem;
  border-radius: 0;
  background-color: var(--mat-sys-surface-container);
}

.rail {
  width: 80px;
}

.expanded {
  width: 320px;
}