<div mat-list-item
     class="nav-item"
     [class.nav-item-expanded]="isFullWidth()"
     matRipple
     [matRippleCentered]="true"
     [matRippleRadius]="50"
     [matRippleAnimation]="{enterDuration: 200, exitDuration: 200}"
     [routerLink]="navItem.route"
     [routerLinkActive]="['nav-item-active']"
     [routerLinkActiveOptions]="{exact:true}"
>

  <div class="state-container">

    @if (navItem.isIconSvg) {
      <mat-icon [svgIcon]="navItem.iconPath ?? ''"
                [attr.aria-labelledby]="isFullWidth() ? fullWidthNameId(navItem) : null"
                [attr.aria-label]="isFullWidth() ? null : navItem.fullWidthName"/>
    } @else {
      <mat-icon>{{ navItem.iconPath }}</mat-icon>
    }

    @if (isFullWidth()) {
      <div class="label center">
        {{ navItem.fullWidthName }}
      </div>
    }
  </div>

  @if (!isFullWidth()) {
    <div class="label center">
      {{ navItem.fullWidthName }}
    </div>
  }

</div>