<!--<a mat-list-item-->
<!--   [routerLink]="navItem.route"-->
<!--   [activated]="isActive()"-->
<!--   [lines]="2"-->
<!--&gt;-->
<!--  <span [class.nav-item-expanded]="isFullWidth()">-->
<!--    @if (navItem.isIconSvg) {-->
<!--      <mat-icon matListItemTitle [svgIcon]="navItem.iconPath ?? ''"-->
<!--                [attr.aria-labelledby]="isFullWidth() ? fullWidthNameId(navItem) : null"-->
<!--                [attr.aria-label]="isFullWidth() ? null : navItem.fullWidthName"/>-->
<!--      <p matListItemLine>Graph</p>-->
<!--    } @else {-->
<!--      <mat-icon>{{ navItem.iconPath }}</mat-icon>-->
<!--    }-->

<!--    @if (isFullWidth()) {-->
<!--      <p [id]="fullWidthNameId(navItem)">{{ navItem.fullWidthName }}</p>-->
<!--    }-->

<!--  </span>-->
<!--</a>-->
<div mat-list-item class="nav-item"
     matRipple
     [matRippleCentered]="true"
     [matRippleRadius]="50"
     [matRippleAnimation]="{enterDuration: 450, exitDuration: 850}"
     [routerLink]="navItem.route"
     [routerLinkActive]="['nav-item-active']"
     [routerLinkActiveOptions]="{exact:true}"
>

  <div class="icon-state">

    @if (navItem.isIconSvg) {
      <mat-icon [svgIcon]="navItem.iconPath ?? ''"
                [attr.aria-labelledby]="isFullWidth() ? fullWidthNameId(navItem) : null"
                [attr.aria-label]="isFullWidth() ? null : navItem.fullWidthName"/>
    } @else {
      <mat-icon>{{ navItem.iconPath }}</mat-icon>
    }

  </div>

  <div class="label center">
    {{ navItem.fullWidthName }}
  </div>


</div>

<!--<a mat-list-item-->
<!--   [routerLink]="navItem.route"-->
<!--   [activated]="isActive()"-->
<!--   [lines]="2"-->
<!--&gt;-->
<!--  <span class="nav-item nav-item-expanded" [class.nav-item-expanded]="isFullWidth()">-->
<!--    @if (navItem.isIconSvg) {-->
<!--      <mat-icon matListItemTitle [svgIcon]="navItem.iconPath ?? ''"-->
<!--                [attr.aria-labelledby]="isFullWidth() ? fullWidthNameId(navItem) : null"-->
<!--                [attr.aria-label]="isFullWidth() ? null : navItem.fullWidthName"/>-->
<!--      <p matListItemLine>Graph</p>-->
<!--    } @else {-->
<!--      <mat-icon>{{ navItem.iconPath }}</mat-icon>-->
<!--    }-->

<!--    @if (isFullWidth()) {-->
<!--      <p [id]="fullWidthNameId(navItem)">{{ navItem.fullWidthName }}</p>-->
<!--    }-->

<!--  </span>-->
<!--</a>-->
