mat-card {
  gap: 16px;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info-list > mat-list-item {
  padding-left: 0;
  padding-right: 0;
  gap: 16px;
}

.card-group {
  display: flex;
  max-width: calc(2 * 350px);
  min-width: calc(2 * 150px);

  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}