<app-content-container>

  <app-surface *ngIf="!isReportLoaded" title="Načítanie dvojíc" subtitle="">
    <mat-progress-bar mode="indeterminate"/>
  </app-surface>

  <app-surface *ngIf="isReportLoaded"
               title="Dvojice odovzdaní"
               subtitle=""
               [isTitleCentered]="true"
               [isContentCentered]="false">
    <app-pairs-table [pairsSource]="this.pairs"
                     contextPrefix="submission-pairs-page"></app-pairs-table>
  </app-surface>

</app-content-container>
