<app-content-container>

  <app-surface title="Dvojice odovzdaní"
               subtitle=""
               [isTitleCentered]="true"
               [isContentCentered]="false">
    <app-pairs-table [pairsSource]="pairsSource"
                     [contextPrefix]="'cluster-view-page-' + clusterId() || 'none' "
    ></app-pairs-table>

  </app-surface>
  <app-surface title="Teplotná mapa podobnosti"
               subtitle=""
               [isTitleCentered]="true"
               [isContentCentered]="true">

    <app-similarity-heatmap [pairsMapSource]="pairsMapSource"
                            [submissionsMapSource]="submissionsMapSource"></app-similarity-heatmap>


  </app-surface>

  <app-surface title="Odovzdania patriace do zhluku"
               subtitle="Tabuľka obsahuje pravé analyzované odovzdania"
               [isContentCentered]="false">
    <app-submissions-table
      [limit]="null"
      [submissionsFilterSet]="getNotIndexedSubmissionsFilterSet()"
      [enablePagination]="true"
    />
  </app-surface>

  <app-surface title="Odovzdania patriace do zhluku"
               subtitle="Tabuľka obsahuje staré odovzdania"
               [isContentCentered]="false">
    <app-submissions-table
      [limit]="null"
      [showNotIndexedOnly]="false"
      [submissionsFilterSet]="getIndexedSubmissionsFilterSet()"
      [enablePagination]="true"
    />
  </app-surface>

  <app-floating-toolbar>
    <mat-form-field style="width: 320px" appearance="outline">
      <mat-label>Mieru podobnosti na zobrazenie v HeatMap</mat-label>
      <mat-select #select [value]="this.similarityHeatmapComponent.getDisplayScoreType()"
                  (selectionChange)="this.changeScoreType(select.value)">
        <mat-option value="META">
          Podobnosť autorov (metaúdaje)
        </mat-option>
        <mat-option value="JACCARD">
          Jaccardov koeficient (slovné n-gramy)
        </mat-option>
        <mat-option value="SEMANTIC">
          Semantická podobnosť
        </mat-option>
        <mat-option value="SEM&JAC">
          Semantická podobnosť alebo Jaccardov koeficient
        </mat-option>
      </mat-select>
    </mat-form-field>
  </app-floating-toolbar>
</app-content-container>
