<div class="table-container">
  <div
    style="display: flex; flex-direction: row; gap: 8px; justify-content: space-between; align-items: center">
    <mat-form-field class="search-bar" style="width: 70%">
      <mat-label>Hľadať</mat-label>
      <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter($event)"/>
    </mat-form-field>

    <button mat-icon-button
            (click)="this.downloadMetadataCsv()">
      <mat-icon>download</mat-icon>
    </button>
  </div>


  <div class="table-responsive height-65">

    <table [dataSource]="this.submissionsDataSource"
           (matSortChange)="onSorting($event)"
           class="mat-elevation-z8"
           mat-table
           matSort>

      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="filename">
          Názov súboru
        </th>
        <td mat-cell *matCellDef="let element">

          <div class="scrollable-text cell-width-12">
            {{ element.fileData.filename }}
          </div>

        </td>
      </ng-container>

      <ng-container matColumnDef="submitter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="submitter">
          Odosielateľ
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="scrollable-text cell-width-12">
            {{ element.fileData.submitter }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="creator">
          Autor
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="scrollable-text cell-width-12">
            {{ element.fileData.metadata.creator ? element.fileData.metadata.creator : 'Neznámy' }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="lastModifiedBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="modifier">
          Naposledy upravil
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="scrollable-text cell-width-12">
            {{ element.fileData.metadata.modifier ? element.fileData.metadata.modifier : 'Neznámy' }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalEditTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="totalEditTime">
          Čas úpravy
        </th>
        <td mat-cell *matCellDef="let element"
            appMetadataDeviationHighlight
            [submission]="element"
            [checkTimeDeviation]="true">
          {{ element.fileData.metadata.totalEditTime | minutesTime }}

        </td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="creationDate">
          Dátum vytvorenia
        </th>
        <td mat-cell *matCellDef="let element"
            appMetadataDeviationHighlight
            dateField="creationDate"
            [submission]="element">
          {{ element.fileData.metadata.creationDate ? (element.fileData.metadata.creationDate | unixDate) : 'Neznáme' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateModified">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="modificationDate">
          Dátum úpravy
        </th>
        <td mat-cell *matCellDef="let element"
            appMetadataDeviationHighlight
            dateField="modificationDate"
            [submission]="element">
          {{ element.fileData.metadata.modificationDate ? (element.fileData.metadata.modificationDate | unixDate) : 'Neznáme' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="pairsDisplayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: pairsDisplayedColumns;"></tr>

    </table>
  </div>
  <mat-paginator
    [length]="this.submissionsDataSource.data.length"
    [pageSize]="20"
    [pageSizeOptions]="[10, 20, 30, 40]">
  </mat-paginator>
</div>
