/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-surface);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.scrollable-text {
  padding-bottom: 4px;
  scrollbar-width: none; /* Firefox */
  display: inline-block;
  max-width: 80%;
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: ellipsis;
}

.scrollable-text::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.highlight-code {
  background-color: rgba(121, 125, 132, 0.3);
  border-bottom: 2px solid rgba(121, 125, 132, 0.4);
}

.highlight-plag {
  background-color: rgba(255, 200, 0, 0.5);
  border-bottom: 2px solid rgba(255, 200, 0, 1);
}

.highlight-template {
  background-color: rgba(70, 130, 180, 0.2);
  border-bottom: 2px solid rgba(70, 130, 180, 0.3);
}

.highlight-misspelled {
  background-color: rgba(181, 73, 105, 0.2);
  border-bottom: 2px solid rgba(213, 46, 95, 0.47);
}

.meta-warning {
  background-color: #FFB300;
}

.meta-equality {
  background-color: rgba(0, 217, 255, 0.67);
}
