<app-content-container>
  @if (this.submission() !== null) {
    <app-surface title="Informacie o odovzdaní"
                 subtitle=""
                 [isTitleCentered]="true"
                 [isContentCentered]="false"
                 [isHorizontal]="true"
                 [wrapBreakpoint]="1200">
      <app-submission-info-card [submission]="this.submission()!"></app-submission-info-card>
      <app-plagiarism-sources [submission]="this.submission()!"></app-plagiarism-sources>
    </app-surface>

    <app-surface title="Dvojice odovzdaní"
                 subtitle=""
                 [isTitleCentered]="true"
                 [isContentCentered]="false">
      <app-pairs-table [pairsSource]="this.pairsSource"
                       [isHalfPage]="true"
                       [contextPrefix]="'submission-view-page-' + this.submission()!.id"
      ></app-pairs-table>
    </app-surface>

    <app-surface title="Obsah odovzdania"
                 subtitle=""
                 [isTitleCentered]="true"
                 [isContentCentered]="false">
      <app-text-editor [submission]="this.submission()!"
                       [markingSide]="0">
      </app-text-editor>
    </app-surface>

  } @else {
    <app-surface title="Načítanie odovzdania" subtitle="">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </app-surface>
  }

</app-content-container>