@use '@angular/material' as mat;

.container-vertical {
  @include mat.slider-overrides((
          inactive-track-color: rgba(0, 0, 0, 0.6),
          with-tick-marks-inactive-container-color: rgba(0, 0, 0, 1),
  ));
}

::ng-deep mat-slider {
  .mdc-slider__tick-mark--inactive {
    background-color: rgba(0, 0, 0, 1);
    transform: scale(3.5);
    width: 4px;
    height: 4px;
    //height: 8px;
    border-radius: 3px;
  }
}

::ng-deep .vertical-slider {
  .mdc-slider__value-indicator-text {
    transform: rotate(-225deg);
  }
}

::ng-deep .apexcharts-heatmap-rect {
  cursor: pointer;
}

.chart {
  width: 75%;

}

.container-vertical {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.horizontal-slider-wrapper {
  display: flex;
  position: relative;

  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal-slider {
  width: 50%;
}

.vertical-slider-wrapper {
  position: relative;
  width: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.vertical-slider {
  position: absolute;
  width: 16rem;
  transform: rotate(-90deg);
  transform-origin: center;
}

@media screen and (max-width: 1600px) {
  .chart {
    width: 100%;
  }
}

p {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface);
  text-align: center;
  margin: 0;
}

//