@use '@angular/material' as mat;

:root {
  @include mat.form-field-overrides((
          filled-container-color: #faf9fd,
    //filled-container-shape: var(--mat-sys-corner-extra-large),
          filled-focus-active-indicator-color: transparent,
          filled-active-indicator-height: 0
  ));
}

.table-responsive {
  display: block;
  min-width: 100%;
  box-sizing: border-box;

  overflow-x: scroll;
  overflow-y: scroll;
  border-bottom: 1px solid var(--mat-sys-outline);
  background-color: rgb(250, 249, 253);

  .mat-mdc-table {
    table-layout: auto; // allow flexible widths
    //width: 100%; // table takes width based on content
    min-width: 100%;

    //width: 100%;
    max-width: 100%;
    //max-height: 300px;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
    overflow-x: scroll;
    //table-layout: fixed !important;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    word-wrap: initial;

    display: table-cell;
    padding: 0 8px;
    line-break: unset;
    flex-direction: column;
    //width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }

}

.table-container {

  display: flex;

  @include mat.elevation(8);
  //width: 1100px;
  width: 100%;

  flex-direction: column;
  box-sizing: border-box;

  overflow: hidden;
  //padding: 16px;

  border-radius: var(--mat-sys-corner-extra-large);
  background-color: var(--mat-sys-surface-container-high);

  .table-search-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }

  .search-bar {
    width: 100%;

    @include mat.elevation(2);

    overflow: hidden;
    border-radius: var(--mat-sys-corner-extra-large);

    .mat-mdc-form-field-subscript-wrapper {
      width: 0;
      height: 0;
    }
  }

  mat-paginator {
    border-radius: var(--mat-sys-corner-extra-small);
  }
}

@media (max-width: 1350px) {
  .table-container {
    width: 900px;
  }
}

@media (max-width: 1050px) {
  .table-container {
    width: 640px;
  }
}

@media (max-width: 440px) {
  .table-container {
    width: 100%;
  }
}

.cell-width-12 {
  max-width: 12rem;
}

.cell-width-6 {
  max-width: 6rem;
}

.height-65 {
  height: 65vh;
}

.height-50 {
  height: 50vh;
}

.width-50 {
  width: 50vw;
}

td.meta-warning {
  background-color: #FFB300;
}
