<app-content-container>
  <app-surface title="Graf" subtitle="" [isTitleCentered]="true">
    <ngx-graph
      [zoomToFit$]="zoomToFitSubject"
      class="chart-container"
      (select)="onNodeSelect($event)"
      (stateChange)="handleStateChange($event)"
    >
      <ng-template #nodeTemplate let-node>
        <svg>
          <g
            class="node"
            [matTooltip]="node.label"
          >
            <circle r="10" cx="10" cy="10" [attr.fill]="node.data.color"></circle>
          </g>
        </svg>
      </ng-template>

    </ngx-graph>

  </app-surface>
  <app-floating-toolbar>
    <button mat-raised-button (click)="zoomToFit()">
      Priblížiť a vycentrovať
    </button>
  </app-floating-toolbar>
</app-content-container>
